{% extends "adm/base.html" %}
{% block title %}
    管理员个人信息
{% endblock %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered dataTable" style="text-align: center">
            <thead style="font-size: 30px;font-weight: bold">
            <tr>
                <td colspan="5">基本信息</td>
            </tr>
            </thead>
            <tr>
                <td rowspan="3" style="width: 300px;">
                    <img style="width: 300px;height:300px" src="/static/{{ user.photo }}" alt="">
                    <input type="file" name="photo">
                </td>
                <th>邮箱</th>
                <td><input type="text" name="email" value="{{ user.email }}" disabled></td>
                <th>用户名</th>
                <td><input type="text" name="name" value="{{ user.name }}"></td>
            </tr>
            <tr>
                <th>手机号</th>
                <td><input type="text" name="phone" value="{{ user.phone }}"></td>

                <th>年龄</th>
                <td><input type="text" name="age" value="{{ user.age }}"></td>
            </tr>
            <tr>
                <th>性别</th>
                <td><input type="text" name="gender" value="{{ user.gender }}"></td>
                <th>地址</th>
                <td><input type="text" name="address" value="{{ user.address }}"></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center">
                    <input class="btn btn-primary " type="submit" value="完善基本信息">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}