{% extends 'graduate/base.html' %}
{% block title %}
    投递状态页
{% endblock %}

{% block content %}

    <table class="table" style="text-align: center">
        <thead>
        <tr>
            <th>公司</th>
            <th>职位名</th>
            <th colspan="2">投递时间</th>
        </tr>
        </thead>
        <tbody>
        {% for one in job_list %}

            <tr>
                <td style="vertical-align: middle"><a href="/Graduate/company_info/?job_id={{ one.j_name.id  }}&c_id={{ one.j_name.j_company.id }}">{{ one.j_name.j_company.c_name }}</a></td>
                <td style="vertical-align: middle"><a href="/Graduate/job_info/?j_id={{ one.j_name.id }}">{{ one.j_name.job_name }}</a></td>
                <td style="vertical-align: middle">{{ one.time }}</td>
                {% if one.send_status == 2 %}
                         <td style="vertical-align: middle">
                        <button class="btn btn-primary agree" a_id="{{ one.id }}">接受面试邀请</button>
                        <button class="btn btn-danger refuse" r_id="{{ one.id }}">拒绝面试邀请</button>
                        </td>
                    {% elif one.send_status == 3 %}
                     <td style="vertical-align: middle"><button class="btn btn-success" disabled>已接受</button></td>
                    {% elif one.send_status == 4 %}
                    <td style="vertical-align: middle">
                     <td style="vertical-align: middle"><button class="btn btn-google">不符合</button></td>
                        </td>
                    {% elif one.send_status == 5 %}
                    <td style="vertical-align: middle">
                     <button class="btn btn-google">已拒绝</button>
                    </td>

                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--分页paginator-->
    <ul class="pagination" style="float: right;position: fixed;right: 80px;bottom: 80px">
        {% if job_list.has_previous %}
            <li class="paginate_button page-item previous">
                <a href="/Boss/send_status/{{ status }}/{{ job_list.previous_page_number }}/" class="page-link">上一页</a>
            </li>
        {% endif %}
        {% for p in page_range %}
            {% if p == page %}
                <li class="paginate_button page-item previous active">
                    <a href="/Boss/send_status/{{ status }}/{{ p }}/" class="page-link">{{ p }}</a>
                </li>
            {% else %}
                <li class="paginate_button page-item previous">
                    <a href="/Boss/send_status/{{ status }}/{{ p }}/" class="page-link">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if job_list.has_next %}
            <li class="paginate_button page-item previous">
                <a href="/Boss/send_status/{{ status }}/{{ job_list.next_page_number }}/" class="page-link">下一页</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block script %}
    <script>
     // --------------------------------------------接受面试邀请后改变状态--------------------------------------
        $(".agree").each(
            function () {
                $(this).click(
                    function () {
                        var a_id = $(this).attr("a_id");
                        $.ajax(
                            {
                                url: "/Graduate/operate/",
                                type: "post",
                                data: {
                                    "a_id": a_id,
                                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                                },
                                success: function (data) {
                                    alert(data["msg"]);
                                    window.location.href="/Graduate/resume_status/{{ status }}/{{ page }}";
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            }
                        );

                    }
                )
            }
        );
    // --------------------------------------------拒绝面试邀请后改变状态--------------------------------------
        $(".refuse").each(
            function () {
                $(this).click(
                    function () {
                        var r_id = $(this).attr("r_id");
                        $.ajax(
                            {
                                url: "/Graduate/operate/",
                                type: "post",
                                data: {
                                    "r_id": r_id,
                                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                                },
                                success: function (data) {
                                    alert(data["msg"]);
                                    window.location.href="/Graduate/resume_status/{{ status }}/{{ page }}";
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            }
                        );

                    }
                )
            }
        );
    </script>
{% endblock %}