{% extends 'graduate/base.html' %}
{% block title %}
    修改密码页
{% endblock %}

{% block content %}
    <form action="" method="post" style="text-align: center">
    {% csrf_token %}
        <table class="table table-bordered dataTable" >
            <thead>
            <tr>
                <th colspan="2" style="font-size: 30px;">您可以在这里修改您的密码:</th>
            </tr>

            </thead>
            <tbody>
                <tr>
                    <th>请输入修改后的密码：</th>
                    <td><input name="update_password" type="password" value=""></td>
                </tr>
                <tr>
                    <th>请再次输入修改后的密码：</th>
                    <td><input name="update_password1" type="password" value=""></td>
                </tr>
            </tbody>
        </table>
    <button type="submit" class="btn btn-primary">确认修改</button>
    </form>
{% endblock %}